<%= link_to "Edit Character", edit_house_character_path(@house, @character) %>

<h1>Is <%= @character.first_name %> <%= @character.last_name %> alive?</h1>

<h1><%= @character.alive ? "Sure is!" : "Nope!" %></h1>
